[user]
	name = Jeff Balogh
	email = me@jeffbalogh.org
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = /Users/jeff/.gitignore
[alias]
    ci = commit
    co = checkout
    h = help
    ch = cherry-pick
    p = "!git push $* && git url"
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    t = "!python manage.py test --noinput -s"
    prune = !git remote | xargs -n 1 git remote prune
[merge]
	tool = meld
[github]
	token = 8de0cba72dfb1837421604bdbbcefbab
    user = jbalogh
[interactive]
	singlekey = 1
[push]
	default = matching
