[user]
	name = Jeff Balogh
	email = me@jeffbalogh.org
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = /home/jbalogh/.gitignore
[alias]
    ci = commit
    co = checkout
[merge]
	tool = meld
[github]
	token = 8de0cba72dfb1837421604bdbbcefbab
[interactive]
	singlekey = 1
[push]
	default = matching
